profile=conventional
break-cases = fit
cases-matching-exp-indent = normal
exp-grouping=preserve
cases-exp-indent = 2
margin = 80
parse-docstrings = true
wrap-comments = false
break-cases=fit-or-vertical
break-infix=fit-or-vertical